/.history/*
/lib/*
*/.vscode/*
/share/*
*/bin/*
.idea/
/include/*
*__pycache__*
/__pycache__/
.DS_Store
*.xml
Scripts/*
tcl/*
*.xml
*.pyc
*.xml
*.mp4
*/Include/*
*/Scripts/*
*/tcl/*
*/dist/*
*/build/*
*/Lib/*
*/share/*