/.history/*
/lib/*
*/.vscode/*
/share/*
*/bin/*
.idea/
*/.idea/*
/include/*
*__pycache__*
*/__pycache__/*
.DS_Store
*.xml
*.pyc
*.xml
*.mp4
*/include/*
*/Include/*
*/Scripts/*
*/tcl/*
*/dist/*
*/build/*
*/Lib/*
*/lib/*
/.history/*
*/.history/*
*/.vscode/*
*/share/*
*/bin/*
